openapi: 3.0.1
info:
  title: Academic Graph API
  description: "Fetch paper and author data from the Semantic Scholar Academic Graph\
    \ (S2AG).\n        <br><br>\n        Some things to note:\n        <ul>\n    \
    \    <li>If you are using an API key, it must be set in the header <code>x-api-key</code>\
    \ (case-sensitive).</li>\n        <li>We have two different IDs for a single paper:\n\
    \          <ul>\n            <li><code>paperId</code> - string - The primary way\
    \ to identify papers when using our website or this API</li>\n            <li><code>corpusId</code>\
    \ - int64 - A second way to identify papers. Our datasets use corpusId when pointing\
    \ to papers.</li>\n          </ul>\n        </li>\n        <li>Other useful resources<ul>\n\
    \        <li><a href=\"https://www.semanticscholar.org/product/api\">Overview</a></li>\n\
    \        <li><a href=\"https://github.com/allenai/s2-folks/\">allenai/s2-folks</a></li>\n\
    \        <li><a href=\"https://github.com/allenai/s2-folks/blob/main/FAQ.md\"\
    >FAQ</a> in allenai/s2folks</li>\n        </ul></li>\n        "
  version: "1.0"
servers:
- url: https://api.semanticscholar.org/graph/v1
tags:
- name: Paper Data
- name: Author Data
paths:
  /author/batch:
    post:
      tags:
      - Author Data
      summary: Get details for multiple authors at once
      description: |-
        * Fields is a single-value string parameter, not a multi-value one.
        * It is a query parameter, not to be submitted in the POST request's body.

        In python:

            r = requests.post(
                'https://api.semanticscholar.org/graph/v1/author/batch',
                params={'fields': 'name,hIndex,citationCount'},
                json={"ids":["1741101", "1780531"]}
            )
            print(json.dumps(r.json(), indent=2))

            [
              {
                "authorId": "1741101",
                "name": "Oren Etzioni",
                "citationCount": 34803,
                "hIndex": 86
              },
              {
                "authorId": "1780531",
                "name": "Daniel S. Weld",
                "citationCount": 35526,
                "hIndex": 89
              }
            ]

        Other Examples:
        <ul>
            <li><code>https://api.semanticscholar.org/graph/v1/author/batch</code></li>
            <ul>
                <li><code>{"ids":["1741101", "1780531", "48323507"]}</code></li>
                <li>Returns details for 3 authors.</li>
                <li>Each author returns the field authorId and name if no other fields are specified.</li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/author/batch?fields=url,name,paperCount,papers,papers.title,papers.openAccessPdf</code></li>
            <ul>
                <li><code>{"ids":["1741101", "1780531", "48323507"]}</code></li>
                <li>Returns authorID, url, name, paperCount, and list of papers for 3 authors.</li>
                <li>Each paper has its paperID, title, and link if available.</li>
            </ul>
        </ul>
        <br>
        Limitations:
        <ul>
            <li>Can only process 1,000 author ids at a time.</li>
            <li>Can only return up to 10 MB of data at a time.</li>
        </ul>
      operationId: post_graph_get_authors
      parameters:
      - name: fields
        in: query
        description: |-
          A comma-separated list of the fields to be returned.<br><br>

          The following case-sensitive author fields are recognized:
          <ul>
              <li><code>authorId</code> - S2 unique ID for this author</li>
          <li><code>externalIds</code> - ORCID/DBLP IDs for this author, if known</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>name</code> - Author's name</li>
          <li><code>aliases</code> - List of names the author has used on publications over time, not intended to be displayed
              to users. WARNING: this list may be out of date or contain deadnames of authors who have
              changed their name. (see https://en.wikipedia.org/wiki/Deadnaming)</li>
          <li><code>affiliations</code> - Author's affiliations - sourced from claimed authors who have set affiliation on their S2 author page.</li>
          <li><code>homepage</code> - Author's homepage</li>
          <li><code>paperCount</code> - Author's total publications count</li>
          <li><code>citationCount</code> - Author's total citations count</li>
          <li><code>hIndex</code> - See the S2 <a href="https://www.semanticscholar.org/faq#h-index">FAQ</a> on h-index</li>
              <li><code>papers</code>
                  <ul>
                      <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
                  </ul>
              </li>
          </ul>
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Author%20Batch%20Request'
        required: true
      responses:
        "200":
          description: List of authors with default or requested fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorWithPapers'
        "400":
          description: Bad query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
      x-codegen-request-body-name: payload
  /author/search:
    get:
      tags:
      - Author Data
      summary: Search for authors by name
      description: |-
        Examples:
        <ul>
            <li><code>https://api.semanticscholar.org/graph/v1/author/search?query=adam+smith</code></li>
            <ul>
                <li>Returns with total=490, offset=0, next=100, and data is a list of 100 authors.</li>
                <li>Each author has their authorId and name. </li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/author/search?query=adam+smith&fields=name,aliases,url,papers.title,papers.year&limit=5</code></li>
            <ul>
                <li>Returns with total=490, offset=0, next=5, and data is a list of 5 authors.</li>
                <li>Each author has authorId, name, aliases, url, and a list of their papers title and year.</li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/author/search?query=totalGarbageNonsense</code></li>
            <ul>
                <li>Returns with total = 0, offset=0, and data is a list of 0 author.</li>
            </ul>
            <br>
            Limitations:
        <ul>
            <li>Can only return up to 10 MB of data at a time.</li>
        </ul>
      operationId: get_graph_get_author_search
      parameters:
      - name: offset
        in: query
        description: "When returning a list of results, start with the element at\
          \ this position in the list."
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: |-
          The maximum number of results to return.<br>
          Must be <= 1000
        schema:
          type: integer
          default: 100
      - name: fields
        in: query
        description: |-
          A comma-separated list of the fields to be returned.<br><br>

          The following case-sensitive author fields are recognized:
          <ul>
              <li><code>authorId</code> - S2 unique ID for this author</li>
          <li><code>externalIds</code> - ORCID/DBLP IDs for this author, if known</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>name</code> - Author's name</li>
          <li><code>aliases</code> - List of names the author has used on publications over time, not intended to be displayed
              to users. WARNING: this list may be out of date or contain deadnames of authors who have
              changed their name. (see https://en.wikipedia.org/wiki/Deadnaming)</li>
          <li><code>affiliations</code> - Author's affiliations - sourced from claimed authors who have set affiliation on their S2 author page.</li>
          <li><code>homepage</code> - Author's homepage</li>
          <li><code>paperCount</code> - Author's total publications count</li>
          <li><code>citationCount</code> - Author's total citations count</li>
          <li><code>hIndex</code> - See the S2 <a href="https://www.semanticscholar.org/faq#h-index">FAQ</a> on h-index</li>
              <li><code>papers</code>
                  <ul>
                      <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
                  </ul>
              </li>
          </ul>
        schema:
          type: string
      - name: query
        in: query
        description: |-
          A plain-text search query string.
          * No special query syntax is supported.
          * Hyphenated query terms yield no matches (replace it with space to find matches)

          Specifying <code>papers</code> fields in the request will return all papers linked to each author in the results,
          set a <code>limit</code> on the search results to reduce output size and latency.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Batch of authors with default or requested fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorSearchBatch'
        "400":
          description: Bad query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
  /author/{author_id}:
    get:
      tags:
      - Author Data
      summary: Details about an author
      description: |-
        Examples:
        <ul>
            <li><code>https://api.semanticscholar.org/graph/v1/author/1741101</code></li>
            <ul>
                <li>Returns the author's authorId and name.</li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/author/1741101?fields=aliases,papers</code></li>
            <ul>
                <li>Returns the author's authorId, aliases, and list of papers.  </li>
                <li>Each paper has its paperId plus its title.</li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/author/1741101?fields=url,papers.abstract,papers.authors</code></li>
            <ul>
                <li>Returns the author's authorId, url, and list of papers.  </li>
                <li>Each paper has its paperId, abstract, and list of authors.</li>
                <li>In that list of authors, each author has their authorId and name.</li>
            </ul>
            <br>
            Limitations:
            <ul>
                <li>Can only return up to 10 MB of data at a time.</li>
            </ul>
        </ul>
      operationId: get_graph_get_author
      parameters:
      - name: fields
        in: query
        description: |-
          A comma-separated list of the fields to be returned.<br><br>

          The following case-sensitive author fields are recognized:
          <ul>
              <li><code>authorId</code> - S2 unique ID for this author</li>
          <li><code>externalIds</code> - ORCID/DBLP IDs for this author, if known</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>name</code> - Author's name</li>
          <li><code>aliases</code> - List of names the author has used on publications over time, not intended to be displayed
              to users. WARNING: this list may be out of date or contain deadnames of authors who have
              changed their name. (see https://en.wikipedia.org/wiki/Deadnaming)</li>
          <li><code>affiliations</code> - Author's affiliations - sourced from claimed authors who have set affiliation on their S2 author page.</li>
          <li><code>homepage</code> - Author's homepage</li>
          <li><code>paperCount</code> - Author's total publications count</li>
          <li><code>citationCount</code> - Author's total citations count</li>
          <li><code>hIndex</code> - See the S2 <a href="https://www.semanticscholar.org/faq#h-index">FAQ</a> on h-index</li>
              <li><code>papers</code>
                  <ul>
                      <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
                  </ul>
              </li>
          </ul>
        schema:
          type: string
      - name: author_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Author with default or requested fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorWithPapers'
        "400":
          description: Bad query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        "404":
          description: Bad paper id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
  /author/{author_id}/papers:
    get:
      tags:
      - Author Data
      summary: Details about an author's papers
      description: |-
        Fetch the papers of an author in batches.<br>
        Only retrieves the most recent 10,000 citations/references for papers belonging to the batch.<br>
        To retrieve the full set of citations for a paper,
        use the /paper/{paper_id}/citations endpoint
        <br><br>
        Examples:
        <ul>
            <li><code>https://api.semanticscholar.org/graph/v1/author/1741101/papers</code></li>
            <ul>
                <li>Return with offset=0, and data is a list of the first 100 papers.</li>
                <li>Each paper has its paperId and title.</li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/author/1741101/papers?fields=url,year,authors&limit=2</code></li>
            <ul>
                <li>Returns with offset=0, next=2, and data is a list of 2 papers.</li>
                <li>Each paper has its paperId, url, year, and list of authors.</li>
                <li>Each author has their authorId and name.</li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/author/1741101/papers?fields=citations.authors&offset=260</code></li>
            <ul>
                <li>Returns with offset=260, and data is a list of the last 4 papers.</li>
                <li>Each paper has its paperId and a list of citations.</li>
                <li>Each citation has its paperId and a list of authors.</li>
                <li>Each author has their authorId and name.</li>
            </ul>
        </ul>
      operationId: get_graph_get_author_papers
      parameters:
      - name: offset
        in: query
        description: "When returning a list of results, start with the element at\
          \ this position in the list."
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: |-
          The maximum number of results to return.<br>
          Must be <= 1000
        schema:
          type: integer
          default: 100
      - name: fields
        in: query
        description: |+
          A comma-separated list of the fields to be returned.<br><br>

          The following case-sensitive paper fields are recognized:
          <ul>
              <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
              <li><code>citations</code></li>
              <ul>
                  <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
                  <li>Total number of citations will be truncated at 10,000 for the entire batch.</li>
                  <li>To fetch more citations per paper, reduce the number of papers in the batch with <code>limit=</code> or use the <code>/paper/{paper_id}/citations</code> endpoint.</li>
              </ul>
              <li><code>references</code></li>
              <ul>
                  <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
                  <li>Same fields supported as for papers above</li>
                  <li>Total number of references will be truncated at 10,000 for the entire batch.</li>
                  <li>To fetch more references per paper, reduce the number of papers in the batch with <code>limit=</code> or use the <code>/paper/{paper_id}/references</code> endpoint.</li>
              </ul>
          </ul>


        schema:
          type: string
      - name: author_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: List of papers with default or requested fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperBatch'
        "400":
          description: Bad query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        "404":
          description: Bad paper id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
  /paper/autocomplete:
    get:
      tags:
      - Paper Data
      summary: Suggest paper query completions
      description: |-
        To support interactive query-completion, return minimal information about papers matching a partial query

        Example:
        <code>https://api.semanticscholar.org/graph/v1/paper/autocomplete?query=semanti</code>
      operationId: get_graph_get_paper_autocomplete
      parameters:
      - name: query
        in: query
        description: Plain-text partial query string. Will be truncated to first 100
          characters.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Batch of papers with default or requested fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperAutocomplete'
        "400":
          description: Bad query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
  /paper/batch:
    post:
      tags:
      - Paper Data
      summary: Get details for multiple papers at once
      description: |-
        * Fields is a single-value string parameter, not a multi-value one.
        * It is a query parameter, not to be submitted in the POST request's body.

        In python:

            r = requests.post(
                'https://api.semanticscholar.org/graph/v1/paper/batch',
                params={'fields': 'referenceCount,citationCount,title'},
                json={"ids": ["649def34f8be52c8b66281af98ae884c09aef38b", "ARXIV:2106.15928"]}
            )
            print(json.dumps(r.json(), indent=2))

            [
              {
                "paperId": "649def34f8be52c8b66281af98ae884c09aef38b",
                "title": "Construction of the Literature Graph in Semantic Scholar",
                "referenceCount": 27,
                "citationCount": 299
              },
              {
                "paperId": "f712fab0d58ae6492e3cdfc1933dae103ec12d5d",
                "title": "Reinfection and low cross-immunity as drivers of epidemic resurgence under high seroprevalence: a model-based approach with application to Amazonas, Brazil",
                "referenceCount": 13,
                "citationCount": 0
              }
            ]

        Other Examples:
        <ul>
            <li><code>https://api.semanticscholar.org/graph/v1/paper/batch</code></li>
            <ul>
                <li><code>{"ids":["649def34f8be52c8b66281af98ae884c09aef38b", "ARXIV:2106.15928"]}</code></li>
                <li>Returns details for 2 papers.</li>
                <li>Each paper has its paperId and title.  </li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/paper/batch?fields=title,isOpenAccess,openAccessPdf,authors</code></li>
            <ul>
                <li><code>{"ids":["649def34f8be52c8b66281af98ae884c09aef38b", "ARXIV:2106.15928"]}</code></li>
                <li>Returns all requested info plus paper IDs for 2 papers.</li>
            </ul>
        </ul>
        <br>
        Limitations:
        <ul>
            <li>Can only process 500 paper ids at a time.</li>
            <li>Can only return up to 10 MB of data at a time.</li>
            <li>For a list of supported IDs reference the "Details about a paper" endpoint.</li>
        </ul>
      operationId: post_graph_get_papers
      parameters:
      - name: fields
        in: query
        description: |-
          A comma-separated list of the fields to be returned.<br><br>

          The following case-sensitive paper fields are recognized:
          <ul>
              <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
              <li><code>embedding</code> - Vector embedding of paper content. Use an optional suffix to specify the model version:
                  <ul>
                  <li><code>embedding.specter_v1</code> (default) from <a href="https://github.com/allenai/specter">SPECTER</a></li>
                  <li><code>embedding.specter_v2</code> from <a href="https://huggingface.co/allenai/specter2">SPECTER2</a></li>
                  </ul>
              <li><code>tldr</code> - Auto-generated short summary of the paper from the <a href="https://github.com/allenai/scitldr">SciTLDR</a> model</li>
              <li><code>authors</code> - Up to 500 will be returned
                  <ul>
                      <li><code>authorId</code> - S2 unique ID for this author</li>
          <li><code>externalIds</code> - ORCID/DBLP IDs for this author, if known</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>name</code> - Author's name</li>
          <li><code>aliases</code> - List of names the author has used on publications over time, not intended to be displayed
              to users. WARNING: this list may be out of date or contain deadnames of authors who have
              changed their name. (see https://en.wikipedia.org/wiki/Deadnaming)</li>
          <li><code>affiliations</code> - Author's affiliations - sourced from claimed authors who have set affiliation on their S2 author page.</li>
          <li><code>homepage</code> - Author's homepage</li>
          <li><code>paperCount</code> - Author's total publications count</li>
          <li><code>citationCount</code> - Author's total citations count</li>
          <li><code>hIndex</code> - See the S2 <a href="https://www.semanticscholar.org/faq#h-index">FAQ</a> on h-index</li>
                      <li>To get more detailed information about a paper's authors, use the <code>/paper/{paper_id}/authors</code> endpoint</li>
                  </ul>
              </li>
              <li><code>citations</code> - Up to 1000 will be returned
                  <ul>
                      <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
                      <li>To get more detailed information about a paper's citations, use the <code>/paper/{paper_id}/citations</code> endpoint</li>
                  </ul>
              </li>
              <li><code>references</code> - Up to 1000 will be returned
                  <ul>
                      <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
                      <li>To get more detailed information about a paper's references, use the <code>/paper/{paper_id}/references</code> endpoint</li>
                  </ul>
              </li>
          </ul>
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Paper%20Batch%20Request'
        required: true
      responses:
        "200":
          description: List of papers with default or requested fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullPaper'
        "400":
          description: Bad query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
      x-codegen-request-body-name: payload
  /paper/search:
    get:
      tags:
      - Paper Data
      summary: Paper relevance search
      description: |-
        Examples:
        <ul>
          <li><code>https://api.semanticscholar.org/graph/v1/paper/search?query=covid+vaccination&offset=100&limit=3</code></li>
          <ul>
            <li>Returns with total=576278, offset=100, next=103, and data is a list of 3 papers.</li>
            <li>Each paper has its paperId and title.  </li>
          </ul>
          <li><code>https://api.semanticscholar.org/graph/v1/paper/search?query=covid&fields=url,abstract,authors</code></li>
          <ul>
            <li>Returns with total=639637, offset=0, next=100, and data is a list of 100 papers.</li>
            <li>Each paper has paperId, url, abstract, and a list of authors.</li>
            <li>Each author under that list has authorId and name.</li>
          </ul>
          <li><code>https://api.semanticscholar.org/graph/v1/paper/search?query=totalGarbageNonsense</code></li>
          <ul>
            <li>Returns with total=0, offset=0, and data is a list of 0 papers.</li>
          </ul>
          <li><code>https://api.semanticscholar.org/graph/v1/paper/search?query=covid&year=2020-2023&openAccessPdf&fieldsOfStudy=Physics,Philosophy&fields=title,year,authors</code></li>
          <ul>
            <li>Returns with total=8471, offset=0, next=10, and data is a list of 10 papers. </li>
            <li>Filters to include only papers published between 2020-2023.</li>
            <li>Filters to include only papers with open access PDFs.</li>
            <li>Filters to include only papers that have a field of study either matching Physics or Philosophy.</li>
            <li>Each paper has the fields paperId, title, year, and authors.</li>
          </ul>
          <br>
            Limitations:
            <ul>
                <li>Can only return up to 1,000 relevance-ranked results. For larger queries, see "/search/bulk" or the Datasets API.</li>
                <li>Can only return up to 10 MB of data at a time.</li>
            </ul>
        </ul>
      operationId: get_graph_paper_relevance_search
      parameters:
      - name: query
        in: query
        description: |-
          A plain-text search query string.
          * No special query syntax is supported.
          * Hyphenated query terms yield no matches (replace it with space to find matches)

          See our <a href="https://medium.com/ai2-blog/building-a-better-search-engine-for-semantic-scholar-ea23a0b661e7">blog post</a>
          for a description of our search relevance algorithm.

          Because of the subtleties of finding partial phrase matches in different parts of the document,
          be cautious about interpreting the <code>total</code> field as a count of documents containing
          any particular word in the query.
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: |-
          A comma-separated list of the fields to be returned.<br><br>

          The following case-sensitive paper fields are recognized:
          <ul>
              <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
              <li><code>embedding</code> - Vector embedding of paper content. Use an optional suffix to specify the model version:
                  <ul>
                  <li><code>embedding.specter_v1</code> (default) from <a href="https://github.com/allenai/specter">SPECTER</a></li>
                  <li><code>embedding.specter_v2</code> from <a href="https://huggingface.co/allenai/specter2">SPECTER2</a></li>
                  </ul>
              <li><code>tldr</code> - Auto-generated short summary of the paper from the <a href="https://github.com/allenai/scitldr">SciTLDR</a> model</li>
              <li><code>authors</code> - Up to 500 will be returned
                  <ul>
                      <li><code>authorId</code> - S2 unique ID for this author</li>
          <li><code>externalIds</code> - ORCID/DBLP IDs for this author, if known</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>name</code> - Author's name</li>
          <li><code>aliases</code> - List of names the author has used on publications over time, not intended to be displayed
              to users. WARNING: this list may be out of date or contain deadnames of authors who have
              changed their name. (see https://en.wikipedia.org/wiki/Deadnaming)</li>
          <li><code>affiliations</code> - Author's affiliations - sourced from claimed authors who have set affiliation on their S2 author page.</li>
          <li><code>homepage</code> - Author's homepage</li>
          <li><code>paperCount</code> - Author's total publications count</li>
          <li><code>citationCount</code> - Author's total citations count</li>
          <li><code>hIndex</code> - See the S2 <a href="https://www.semanticscholar.org/faq#h-index">FAQ</a> on h-index</li>
                      <li>To get more detailed information about a paper's authors, use the <code>/paper/{paper_id}/authors</code> endpoint</li>
                  </ul>
              </li>
              <li><code>citations</code> - Up to 1000 will be returned
                  <ul>
                      <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
                      <li>To get more detailed information about a paper's citations, use the <code>/paper/{paper_id}/citations</code> endpoint</li>
                  </ul>
              </li>
              <li><code>references</code> - Up to 1000 will be returned
                  <ul>
                      <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
                      <li>To get more detailed information about a paper's references, use the <code>/paper/{paper_id}/references</code> endpoint</li>
                  </ul>
              </li>
          </ul>
        schema:
          type: string
      - name: publicationTypes
        in: query
        description: |-
          Restrict results by publication types. <br><br>
          Valid inputs are:
          <ul>
              <li>Review</li>
              <li>JournalArticle</li>
              <li>CaseReport</li>
              <li>ClinicalTrial</li>
              <li>Dataset</li>
              <li>Editorial</li>
              <li>LettersAndComments</li>
              <li>MetaAnalysis</li>
              <li>News</li>
              <li>Study</li>
              <li>Book</li>
              <li>BookSection</li>
          </ul>

          Use a comma-separated list to include papers with more than one publication types. <br>
          Example: <code>Review,JournalArticle</code> will return papers with publication <br>
          types Review and JournalArticle.
        schema:
          type: string
      - name: openAccessPdf
        in: query
        description: |-
          Restrict results to only include papers with a public PDF
          <br>
          <br>
          Example:
          <ul>
            <li><code>graph/v1/paper/search?query=covid&openAccessPdf</code></li>
          </ul>
        schema:
          type: string
      - name: minCitationCount
        in: query
        description: |-
          Restrict results to only include papers with the minimum number of citations, inclusive.
          <br>
          <br>
          Example:
          <ul>
            <li><code>graph/v1/paper/search?query=covid&minCitationCount=200</code></li>
          </ul>
        schema:
          type: string
      - name: publicationDateOrYear
        in: query
        description: |-
          Restrict results to the given range of publication dates or years (inclusive). Accepts the format <code>&lt;startDate&gt;:&lt;endDate&gt;</code>. Each term is optional, allowing for specific dates, fixed ranges, or open-ended ranges. In addition, prefixes are suported as a shorthand, e.g. <code>2020-06</code> matches all dates in June 2020.
          <br>
          <br>
          Specific dates are not known for all papers, so some records returned with this filter will have a <code>null</code> value for </code>publicationDate</code>. <code>year</code>, however, will always be present.
          For records where a specific publication date is not known, they will be treated as if published on January 1st of their publication year.
          <br>
          <br>
          Examples:
          <ul>
              <li><code>2019-03-05</code> on March 3rd, 2019</li>
              <li><code>2019-03</code> during March 2019</li>
              <li><code>2019</code> during 2019</li>
              <li><code>2016-03-05:2020-06-06</code> as early as March 5th, 2016 or as late as June 6th, 2020</li>
              <li><code>1981-08-25:</code> on or after August 25th, 1981</li>
              <li><code>:2015-01</code> before or on January 31st, 2015</li>
              <li><code>2015:2020</code> between January 1st, 2015 and December 31st, 2020</li>
          </ul>
        schema:
          type: string
      - name: year
        in: query
        description: |-
          Restrict results to the given range of publication year (inclusive)
          <br>
          <br>
          Examples:
          <ul>
              <li><code>2019</code> in 2019</li>
              <li><code>2016-2020</code> as early as 2016 or as late as 2020</li>
              <li><code>2010-</code> during or after 2010</li>
              <li><code>-2015</code> before or during 2015</li>
          </ul>
        schema:
          type: string
      - name: venue
        in: query
        description: |-
          Restrict results by venue. <br><br>
          Input could also be an ISO4 abbreviation.
          Examples include:
          <ul>
              <li>Nature</li>
              <li>New England Journal of Medicine</li>
              <li>Radiology</li>
              <li>N. Engl. J. Med.</li>
          </ul>

          Use a comma-separated list to include papers from more than one venue. <br>
          Example: <code>Nature,Radiology</code> will return papers from venues Nature and Radiology.
        schema:
          type: string
      - name: fieldsOfStudy
        in: query
        description: |-
          Restrict results to given field-of-study, using the `s2FieldsOfStudy` paper field.<br><br>
          Available fields are:
          <ul>
          <li>Computer Science</li>
          <li>Medicine</li>
          <li>Chemistry</li>
          <li>Biology</li>
          <li>Materials Science</li>
          <li>Physics</li>
          <li>Geology</li>
          <li>Psychology</li>
          <li>Art</li>
          <li>History</li>
          <li>Geography</li>
          <li>Sociology</li>
          <li>Business</li>
          <li>Political Science</li>
          <li>Economics</li>
          <li>Philosophy</li>
          <li>Mathematics</li>
          <li>Engineering</li>
          <li>Environmental Science</li>
          <li>Agricultural and Food Sciences</li>
          <li>Education</li>
          <li>Law</li>
          <li>Linguistics</li>
          </ul>

          Use a comma-separated list to include papers from any of the listed fields<br>
          Example: <code>Physics,Mathematics</code> will return papers with either Physics or <br>
          Mathematics in their list of fields-of-study.
        schema:
          type: string
      - name: offset
        in: query
        description: "When returning a list of results, start with the element at\
          \ this position in the list."
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: |-
          The maximum number of results to return.<br>
          Must be <= 100
        schema:
          type: integer
          default: 100
      responses:
        "200":
          description: Batch of papers with default or requested fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperSearchBatch'
        "400":
          description: Bad query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
  /paper/search/bulk:
    get:
      tags:
      - Paper Data
      summary: Paper bulk search
      description: |-
        Behaves similarly to <code>/paper/search</code>, but is intended for bulk retrieval of basic paper data without search relevance:
        <ul>
        <li>Text query is optional and supports boolean logic for document matching.</li>
        <li>Papers can be filtered using various criteria.</li>
        <li>Up to 1,000 papers will be returned in each call.</li>
        <li>If there are more matching papers, a continuation "token" will be present.</li>
        <li>The query can be repeated with the token param added to efficiently continue fetching matching papers.</li>
        </ul>
        <br>
        Returns a strucutre with an estimated total matches, batch of matching papers, and a continuation token if more results are available.
        <br>
        Limitations:
        <ul>
        <li>Nested paper data, such as citations, references, etc, is not available via this method.</li>
        <li>Up to 10,000,000 papers can be fetched via this method. For larger needs, please use the <a href="datasets/">Datasets API</a> to retrieve full copies of the corpus.</li>
        </ul>
      operationId: get_graph_paper_bulk_search
      parameters:
      - name: query
        in: query
        description: |-
          Text query that will be matched against the paper's title and abstract. All terms are stemmed in English. By default all terms in the query must be present in the paper.

          The match query supports the folowing syntax:
          <ul>
          <li><code>+</code> for AND operation</li>
          <li><code>|</code> for OR operation</li>
          <li><code>-</code> negates a term </li>
          <li><code>"</code> collects terms into a phrase</li>
          <li><code>*</code> can be used to match a prefix</li>
              <li><code>(</code> and <code>)</code> for precedence</li>
          <li><code>~N</code> after a word matches within the edit distance of N (Defaults to 2 if N is omitted)</li>
          <li><code>~N</code> after a phrase matches with the phrase terms separated up to N terms apart (Defaults to 2 if N is omitted)</li>
          </ul>

          Examples:
          <ul>
              <li><code>fish ladder</code> matches papers that contain "fish" and "ladder"</li>
              <li><code>fish -ladder</code> matches papers that contain "fish but not "ladder"</li>
              <li><code>fish | ladder</code> mathces papers that contain "fish" or "ladder"</li>
              <li><code>"fish ladder"</code> mathces papers that contain the phrase "fish ladder"</li>
              <li><code>(fish ladder) | outflow</code> matches papers that contain "fish" and "ladder" OR "outflow"</li>
              <li><code>fish~</code> matches papers that contain "fish", "fist", "fihs", etc. </li>
              <li><code>"fish ladder"~3</code> mathces papers that contain the phrase "fish ladder" or "fish is on a ladder"</li>
          </ul>
        schema:
          type: string
      - name: token
        in: query
        description: "A string token used to continue fetching results from a previous\
          \ query. When your original query returns, a token will be included, which\
          \ should be provided to fetch the next batch of papers. Each call will return\
          \ a new token that must be used to continue."
        schema:
          type: string
      - name: fields
        in: query
        description: |-
          A comma-separated list of the fields to be returned.<br><br>

          The following case-sensitive paper fields are recognized:
          <ul>
              <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
              <li><code>authors</code> - Up to 500 will be returned
                  <ul>
                      <li>To get more detailed information about a paper's authors, use the <code>/paper/{paper_id}/authors</code> endpoint</li>
                  </ul>
              </li>
          </ul>
        schema:
          type: string
      - name: sort
        in: query
        description: |-
          The field (and optional order) on which to sort the resulting papers, in the format <code>field:order</code>. The fields <code>paperId</code>, <code>publicationDate</code>, and <code>citationCount</code> are supported. The default field is <code>paperId</code> and the default order is <code>asc</code>.
          <br>
          <br>
          Ties are broken by <code>paperId</code>. Records for which the sort value is not defined will appear at the end of sort, regardless of asc/desc order.
          <br>
          <br>
          Examples:
          <ul>
              <li><code>publicationDate:asc</code> - return oldest papers first.</li>
              <li><code>citationCount:desc</code> - return most highly-cited papers first.</li>
              <li><code>paperId</code> - return papers in ID order, low-to-high.</li>
          </ul>
          <br>
          Please be aware that if the relevant data changes while paging through results, records can be returned in an unexpected way. The default <code>paperId</code> sort avoids this edge case.
        schema:
          type: string
      - name: publicationTypes
        in: query
        description: |-
          Restrict results by publication types. <br><br>
          Valid inputs are:
          <ul>
              <li>Review</li>
              <li>JournalArticle</li>
              <li>CaseReport</li>
              <li>ClinicalTrial</li>
              <li>Dataset</li>
              <li>Editorial</li>
              <li>LettersAndComments</li>
              <li>MetaAnalysis</li>
              <li>News</li>
              <li>Study</li>
              <li>Book</li>
              <li>BookSection</li>
          </ul>

          Use a comma-separated list to include papers with more than one publication types. <br>
          Example: <code>Review,JournalArticle</code> will return papers with publication <br>
          types Review and JournalArticle.
        schema:
          type: string
      - name: openAccessPdf
        in: query
        description: |-
          Restrict results to only include papers with a public PDF
          <br>
          <br>
          Example:
          <ul>
            <li><code>graph/v1/paper/search?query=covid&openAccessPdf</code></li>
          </ul>
        schema:
          type: string
      - name: minCitationCount
        in: query
        description: |-
          Restrict results to only include papers with the minimum number of citations, inclusive.
          <br>
          <br>
          Example:
          <ul>
            <li><code>graph/v1/paper/search?query=covid&minCitationCount=200</code></li>
          </ul>
        schema:
          type: string
      - name: publicationDateOrYear
        in: query
        description: |-
          Restrict results to the given range of publication dates or years (inclusive). Accepts the format <code>&lt;startDate&gt;:&lt;endDate&gt;</code>. Each term is optional, allowing for specific dates, fixed ranges, or open-ended ranges. In addition, prefixes are suported as a shorthand, e.g. <code>2020-06</code> matches all dates in June 2020.
          <br>
          <br>
          Specific dates are not known for all papers, so some records returned with this filter will have a <code>null</code> value for </code>publicationDate</code>. <code>year</code>, however, will always be present.
          For records where a specific publication date is not known, they will be treated as if published on January 1st of their publication year.
          <br>
          <br>
          Examples:
          <ul>
              <li><code>2019-03-05</code> on March 3rd, 2019</li>
              <li><code>2019-03</code> during March 2019</li>
              <li><code>2019</code> during 2019</li>
              <li><code>2016-03-05:2020-06-06</code> as early as March 5th, 2016 or as late as June 6th, 2020</li>
              <li><code>1981-08-25:</code> on or after August 25th, 1981</li>
              <li><code>:2015-01</code> before or on January 31st, 2015</li>
              <li><code>2015:2020</code> between January 1st, 2015 and December 31st, 2020</li>
          </ul>
        schema:
          type: string
      - name: year
        in: query
        description: |-
          Restrict results to the given range of publication year (inclusive)
          <br>
          <br>
          Examples:
          <ul>
              <li><code>2019</code> in 2019</li>
              <li><code>2016-2020</code> as early as 2016 or as late as 2020</li>
              <li><code>2010-</code> during or after 2010</li>
              <li><code>-2015</code> before or during 2015</li>
          </ul>
        schema:
          type: string
      - name: venue
        in: query
        description: |-
          Restrict results by venue. <br><br>
          Input could also be an ISO4 abbreviation.
          Examples include:
          <ul>
              <li>Nature</li>
              <li>New England Journal of Medicine</li>
              <li>Radiology</li>
              <li>N. Engl. J. Med.</li>
          </ul>

          Use a comma-separated list to include papers from more than one venue. <br>
          Example: <code>Nature,Radiology</code> will return papers from venues Nature and Radiology.
        schema:
          type: string
      - name: fieldsOfStudy
        in: query
        description: |-
          Restrict results to given field-of-study, using the `s2FieldsOfStudy` paper field.<br><br>
          Available fields are:
          <ul>
          <li>Computer Science</li>
          <li>Medicine</li>
          <li>Chemistry</li>
          <li>Biology</li>
          <li>Materials Science</li>
          <li>Physics</li>
          <li>Geology</li>
          <li>Psychology</li>
          <li>Art</li>
          <li>History</li>
          <li>Geography</li>
          <li>Sociology</li>
          <li>Business</li>
          <li>Political Science</li>
          <li>Economics</li>
          <li>Philosophy</li>
          <li>Mathematics</li>
          <li>Engineering</li>
          <li>Environmental Science</li>
          <li>Agricultural and Food Sciences</li>
          <li>Education</li>
          <li>Law</li>
          <li>Linguistics</li>
          </ul>

          Use a comma-separated list to include papers from any of the listed fields<br>
          Example: <code>Physics,Mathematics</code> will return papers with either Physics or <br>
          Mathematics in their list of fields-of-study.
        schema:
          type: string
      responses:
        "200":
          description: Batch of papers with default or requested fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperSearchBatch'
        "400":
          description: Bad query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
  /paper/{paper_id}:
    get:
      tags:
      - Paper Data
      summary: Details about a paper
      description: |-
        Examples:
        <ul>
            <li><code>https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b</code></li>
            <ul>
                <li>Returns a paper with its paperId and title.  </li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b?fields=url,year,authors</code></li>
            <ul>
                <li>Returns the paper's paperId, url, year, and list of authors.  </li>
                <li>Each author has authorId and name.</li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b?fields=citations.authors</code></li>
            <ul>
                <li>Returns the paper's paperId and list of citations.  </li>
                <li>Each citation has its paperId plus its list of authors.</li>
                <li>Each author has their 2 always included fields of authorId and name.</li>
            </ul>
            <br>
            Limitations:
            <ul>
                <li>Can only return up to 10 MB of data at a time.</li>
            </ul>
        </ul>
      operationId: get_graph_get_paper
      parameters:
      - name: paper_id
        in: path
        description: |-
          The following types of IDs are supported:
          <ul>
              <li><code>&lt;sha&gt;</code> - a Semantic Scholar ID, e.g. <code>649def34f8be52c8b66281af98ae884c09aef38b</code></li>
              <li><code>CorpusId:&lt;id&gt;</code> - a Semantic Scholar numerical ID, e.g. <code>215416146</code></li>
              <li><code>DOI:&lt;doi&gt;</code> - a <a href="http://doi.org">Digital Object Identifier</a>,
                  e.g. <code>DOI:10.18653/v1/N18-3011</code></li>
              <li><code>ARXIV:&lt;id&gt;</code> - <a href="https://arxiv.org/">arXiv.rg</a>, e.g. <code>ARXIV:2106.15928</code></li>
              <li><code>MAG:&lt;id&gt;</code> - Microsoft Academic Graph, e.g. <code>MAG:112218234</code></li>
              <li><code>ACL:&lt;id&gt;</code> - Association for Computational Linguistics, e.g. <code>ACL:W12-3903</code></li>
              <li><code>PMID:&lt;id&gt;</code> - PubMed/Medline, e.g. <code>PMID:19872477</code></li>
              <li><code>PMCID:&lt;id&gt;</code> - PubMed Central, e.g. <code>PMCID:2323736</code></li>
              <li><code>URL:&lt;url&gt;</code> - URL from one of the sites listed below, e.g. <code>URL:https://arxiv.org/abs/2106.15928v1</code></li>
          </ul>

          URLs are recognized from the following sites:
          <ul>
              <li><a href="https://www.semanticscholar.org/">semanticscholar.org</a></li>
              <li><a href="https://arxiv.org/">arxiv.org</a></li>
              <li><a href="https://www.aclweb.org">aclweb.org</a></li>
              <li><a href="https://www.acm.org/">acm.org</a></li>
              <li><a href="https://www.biorxiv.org/">biorxiv.org</a></li>
          </ul>
        required: true
        schema:
          type: string
      - name: fields
        in: query
        description: |-
          A comma-separated list of the fields to be returned.<br><br>

          The following case-sensitive paper fields are recognized:
          <ul>
              <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
              <li><code>embedding</code> - Vector embedding of paper content. Use an optional suffix to specify the model version:
                  <ul>
                  <li><code>embedding.specter_v1</code> (default) from <a href="https://github.com/allenai/specter">SPECTER</a></li>
                  <li><code>embedding.specter_v2</code> from <a href="https://huggingface.co/allenai/specter2">SPECTER2</a></li>
                  </ul>
              <li><code>tldr</code> - Auto-generated short summary of the paper from the <a href="https://github.com/allenai/scitldr">SciTLDR</a> model</li>
              <li><code>authors</code> - Up to 500 will be returned
                  <ul>
                      <li><code>authorId</code> - S2 unique ID for this author</li>
          <li><code>externalIds</code> - ORCID/DBLP IDs for this author, if known</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>name</code> - Author's name</li>
          <li><code>aliases</code> - List of names the author has used on publications over time, not intended to be displayed
              to users. WARNING: this list may be out of date or contain deadnames of authors who have
              changed their name. (see https://en.wikipedia.org/wiki/Deadnaming)</li>
          <li><code>affiliations</code> - Author's affiliations - sourced from claimed authors who have set affiliation on their S2 author page.</li>
          <li><code>homepage</code> - Author's homepage</li>
          <li><code>paperCount</code> - Author's total publications count</li>
          <li><code>citationCount</code> - Author's total citations count</li>
          <li><code>hIndex</code> - See the S2 <a href="https://www.semanticscholar.org/faq#h-index">FAQ</a> on h-index</li>
                      <li>To get more detailed information about a paper's authors, use the <code>/paper/{paper_id}/authors</code> endpoint</li>
                  </ul>
              </li>
              <li><code>citations</code> - Up to 1000 will be returned
                  <ul>
                      <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
                      <li>To get more detailed information about a paper's citations, use the <code>/paper/{paper_id}/citations</code> endpoint</li>
                  </ul>
              </li>
              <li><code>references</code> - Up to 1000 will be returned
                  <ul>
                      <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
                      <li>To get more detailed information about a paper's references, use the <code>/paper/{paper_id}/references</code> endpoint</li>
                  </ul>
              </li>
          </ul>
        schema:
          type: string
      responses:
        "200":
          description: Paper with default or requested fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullPaper'
        "400":
          description: Bad query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        "404":
          description: Bad paper id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
  /paper/{paper_id}/authors:
    get:
      tags:
      - Paper Data
      summary: Details about a paper's authors
      description: |-
        Examples:
        <ul>
            <li><code>https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b/authors</code></li>
            <ul>
                <li>Returns with offset=0, and data is a list of all 3 authors.</li>
                <li>Each author has their authorId and name</li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b/authors?fields=affiliations,papers&limit=2</code></li>
            <ul>
                <li>Returns with offset=0, next=2, and data is a list of 2 authors.</li>
                <li>Each author has their authorId, affiliations, and list of papers.</li>
                <li>Each paper has its paperId and title.</li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b/authors?fields=url,papers.year,papers.authors&offset=2</code></li>
            <ul>
                <li>Returns with offset=2, and data is a list containing the last author.</li>
                <li>This author has their authorId, url, and list of papers.</li>
                <li>Each paper has its paperId, year, and list of authors.</li>
                <li>In that list of authors, each author has their authorId and name.</li>
            </ul>
        </ul>
      operationId: get_graph_get_paper_authors
      parameters:
      - name: offset
        in: query
        description: "When returning a list of results, start with the element at\
          \ this position in the list."
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: |-
          The maximum number of results to return.<br>
          Must be <= 1000
        schema:
          type: integer
          default: 100
      - name: fields
        in: query
        description: |-
          A comma-separated list of the fields to be returned.<br><br>
          The following case-sensitive author fields are recognized:
          <ul>
              <li><code>authorId</code> - S2 unique ID for this author</li>
          <li><code>externalIds</code> - ORCID/DBLP IDs for this author, if known</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>name</code> - Author's name</li>
          <li><code>aliases</code> - List of names the author has used on publications over time, not intended to be displayed
              to users. WARNING: this list may be out of date or contain deadnames of authors who have
              changed their name. (see https://en.wikipedia.org/wiki/Deadnaming)</li>
          <li><code>affiliations</code> - Author's affiliations - sourced from claimed authors who have set affiliation on their S2 author page.</li>
          <li><code>homepage</code> - Author's homepage</li>
          <li><code>paperCount</code> - Author's total publications count</li>
          <li><code>citationCount</code> - Author's total citations count</li>
          <li><code>hIndex</code> - See the S2 <a href="https://www.semanticscholar.org/faq#h-index">FAQ</a> on h-index</li>
              <li><code>papers</code>
                  <ul>
                      <li><code>paperId</code> - Always included. A unique (string) identifier for this paper</li>
          <li><code>corpusId</code> - A second unique (numeric) identifier for this paper</li>
          <li><code>url</code> - URL on the Semantic Scholar website</li>
          <li><code>title</code> - Included if no fields are specified</li>
          <li><code>venue</code> - Normalized venue name</li>
          <li><code>publicationVenue</code> - Publication venue meta-data for the paper</li>
          <li><code>year</code> - Year of publication</li>
          <li><code>authors</code> - Up to 500 will be returned.  Will include: <code>authorId</code> & <code>name</code></li>
          <li>To get more detailed information about an author's papers, use the <code>/author/{author_id}/papers</code> endpoint</li>
          <li><code>externalIds</code>IDs from external sources - Supports ArXiv, MAG, ACL, PubMed, Medline, PubMedCentral, DBLP, DOI</li>
          <li><code>abstract</code> - The paper's abstract. Note that due to legal reasons, this may be missing even if we display an abstract on the website</li>
          <li><code>referenceCount</code> - Total number of papers referenced by this paper</li>
          <li><code>citationCount</code> - Total number of citations S2 has found for this paper</li>
          <li><code>influentialCitationCount</code> - More information <a href="https://www.semanticscholar.org/faq#influential-citations">here</a></li>
          <li><code>isOpenAccess</code> - More information <a href="https://www.openaccess.nl/en/what-is-open-access">here</a></li>
          <li><code>openAccessPdf</code> - A link to the paper if it is open access, and we have a direct link to the pdf</li>
          <li><code>fieldsOfStudy</code> - A list of high-level academic categories from external sources</li>
          <li><code>s2FieldsOfStudy</code> - A list of academic categories, sourced from either external sources or our internally developed <a href="https://www.semanticscholar.org/faq#how-does-semantic-scholar-determine-a-papers-field-of-study">classifier</a></li>
          <li><code>publicationTypes</code> - Journal Article, Conference, Review, etc</li>
          <li><code>publicationDate</code> - YYYY-MM-DD, if available</li>
          <li><code>journal</code> - Journal name, volume, and pages, if available</li>
          <li><code>citationStyles</code> - Generates bibliographical citation of paper. Currently supported styles: BibTeX</li>
                  </ul>
              </li>
          </ul>
        schema:
          type: string
      - name: paper_id
        in: path
        description: |-
          The following types of IDs are supported:
          <ul>
              <li><code>&lt;sha&gt;</code> - a Semantic Scholar ID, e.g. <code>649def34f8be52c8b66281af98ae884c09aef38b</code></li>
              <li><code>CorpusId:&lt;id&gt;</code> - a Semantic Scholar numerical ID, e.g. <code>215416146</code></li>
              <li><code>DOI:&lt;doi&gt;</code> - a <a href="http://doi.org">Digital Object Identifier</a>,
                  e.g. <code>DOI:10.18653/v1/N18-3011</code></li>
              <li><code>ARXIV:&lt;id&gt;</code> - <a href="https://arxiv.org/">arXiv.rg</a>, e.g. <code>ARXIV:2106.15928</code></li>
              <li><code>MAG:&lt;id&gt;</code> - Microsoft Academic Graph, e.g. <code>MAG:112218234</code></li>
              <li><code>ACL:&lt;id&gt;</code> - Association for Computational Linguistics, e.g. <code>ACL:W12-3903</code></li>
              <li><code>PMID:&lt;id&gt;</code> - PubMed/Medline, e.g. <code>PMID:19872477</code></li>
              <li><code>PMCID:&lt;id&gt;</code> - PubMed Central, e.g. <code>PMCID:2323736</code></li>
              <li><code>URL:&lt;url&gt;</code> - URL from one of the sites listed below, e.g. <code>URL:https://arxiv.org/abs/2106.15928v1</code></li>
          </ul>

          URLs are recognized from the following sites:
          <ul>
              <li><a href="https://www.semanticscholar.org/">semanticscholar.org</a></li>
              <li><a href="https://arxiv.org/">arxiv.org</a></li>
              <li><a href="https://www.aclweb.org">aclweb.org</a></li>
              <li><a href="https://www.acm.org/">acm.org</a></li>
              <li><a href="https://www.biorxiv.org/">biorxiv.org</a></li>
          </ul>
        required: true
        schema:
          type: string
      responses:
        "200":
          description: List of Authors with default or requested fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorBatch'
        "400":
          description: Bad query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        "404":
          description: Bad paper id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
  /paper/{paper_id}/citations:
    get:
      tags:
      - Paper Data
      summary: Details about a paper's citations
      description: |-
        Fetch details about the papers the cite this paper (i.e. papers in whose bibliography this paper appears)
        <br><br>
        Examples:
        <ul>
            <li>Let's suppose that the paper in the examples below has 1600 citations...</li>
            <li><code>https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b/citations</code></li>
            <ul>
                <li>Returns with offset=0, next=100, and data is a list of 100 citations.</li>
                <li>Each citation has a citingPaper which contains its paperId and title.</li>
            </ul>
            <li><code>https://api.semanticscholar.org/graph/v1/paper/649def34f8be52c8b66281af98ae884c09aef38b/citations?fields=contexts,intents,isInfluential,abstract&offset=200&limit=10</code></li>
            <ul>
                <li>Returns with offset=200, next=210, and data is a list of 10 citations.</li>
[...]
